.o-page-home {
  .o-page-body {
    .o-body-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      background-color: white;
      height: 50px;
      /* 老的 Firefox */
      .header-left {
        color: #999;
        .fa {
          margin-right: 10px;
          color: #3c8edb;
        }
      }
      .header-right {
        color: #3c8edb;
      }
    }
    .o-body-sync-time {
      padding: 0px 10px;
      line-height: 40px;
      color: #3c8edb;
      font-size: 14px;
    }
    .o-body-list {
      .list-item {
        display: block;
        border-radius: 5px;
        margin: 0px 10px 10px 10px;
        background-color: white;
        .item-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          &:last-child {
            .row-content {
              border: 0px;
            }
          }
          .row-icon {
            width: 40px;
            line-height: 40px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            .icon {
              width: 20px;
              height: 20px;
              border-radius: 90px;
              display: flex;
              margin: auto;
              &.ready_for_pickup {
                background-color: #7f82fa;
              }
              &.delayed {
                background-color: #e34737;
              }
              &.to_be_delivered {
                background-color: #01a44a;
              }
              &.delivered {
                background-color: #3c8edb;
              }
              .img {
                width: 20px;
                height: 20px;
              }
            }
            .fa {
              color: #3c8edb;
              font-size: 20px;
            }
          }
          .row-content {
            color: #999;
            height: 50px;
            flex-grow: 1;
            border-bottom: 1px solid #efefef;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;
            .content-left {}
            .content-right {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              .fa {
                font-size: 20px;
                color: #999;
                margin-left: 10px;
                &.fa-info-circle {
                  color: #3c8edb;
                }
              }
              .right-icon {
                margin-left: 10px;
                width: 40px;
                height: 40px;
                background-color: green;
              }
            }
          }
        }
        .item-content {
          padding: 10px;
          line-height: 30px;
          border-bottom: 1px solid #efefef;
          .content-title,
          .content-city,
          .content-address,
          .content-time {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .content-title {
            color: #999;
          }
          .content-city {
            color: #666;
          }
          .content-address {
            color: #3c8edb;
          }
          .content-time {
            color: #666;
          }
        }
      }
      .list-item-footer {
        border-radius: 5px;
        margin: 10px;
        background-color: white;
        color: #3c8edb;
        text-align: center;
        line-height: 40px;
      }
    }
  }
  .o-body-add-btn {
    background-color: #3c8edb;
    color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    border-radius: 90px;
    font-size: 30px;
    line-height: 44px;
    bottom: 10px;
    .select {
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      opacity: 0;
      position: absolute;
    }
  }
}