.o-page-signin .o-page-body .o-logo {
  width: 200px;
  background-color: #3c8edb;
  margin: 50px auto;
  height: 100px;
}
.o-page-signin .o-page-body .o-input-row {
  border: 0px;
  background-color: white;
  margin: 20px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 0px 10px;
  border-radius: 5px;
}
.o-page-signin .o-page-body .o-input-row .fa {
  width: 20px;
  font-size: 24px;
  color: #2876d7;
  margin-right: 10px;
}
.o-page-signin .o-page-body .o-input-row .input {
  border: 0px;
  height: 48px;
  flex-grow: 1;
}
.o-page-signin .o-page-body .o-submit {
  margin: 30px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #3c8edb;
}
