.o-page-home .o-page-body .o-body-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
  height: 50px;
  /* 老的 Firefox */
}
.o-page-home .o-page-body .o-body-header .header-left {
  color: #999;
}
.o-page-home .o-page-body .o-body-header .header-left .fa {
  margin-right: 10px;
  color: #3c8edb;
}
.o-page-home .o-page-body .o-body-header .header-right {
  color: #3c8edb;
}
.o-page-home .o-page-body .o-body-sync-time {
  padding: 0px 10px;
  line-height: 40px;
  color: #3c8edb;
  font-size: 14px;
}
.o-page-home .o-page-body .o-body-list .list-item {
  display: block;
  border-radius: 5px;
  margin: 0px 10px 10px 10px;
  background-color: white;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row:last-child .row-content {
  border: 0px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon {
  width: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon .icon {
  width: 20px;
  height: 20px;
  border-radius: 90px;
  display: flex;
  margin: auto;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon .icon.ready_for_pickup {
  background-color: #7f82fa;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon .icon.delayed {
  background-color: #e34737;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon .icon.to_be_delivered {
  background-color: #01a44a;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon .icon.delivered {
  background-color: #3c8edb;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon .icon .img {
  width: 20px;
  height: 20px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon .fa {
  color: #3c8edb;
  font-size: 20px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content {
  color: #999;
  height: 50px;
  flex-grow: 1;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content .content-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content .content-right .fa {
  font-size: 20px;
  color: #999;
  margin-left: 10px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content .content-right .fa.fa-info-circle {
  color: #3c8edb;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content .content-right .right-icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: green;
}
.o-page-home .o-page-body .o-body-list .list-item .item-content {
  padding: 10px;
  line-height: 30px;
  border-bottom: 1px solid #efefef;
}
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-title,
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-city,
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-address,
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-title {
  color: #999;
}
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-city {
  color: #666;
}
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-address {
  color: #3c8edb;
}
.o-page-home .o-page-body .o-body-list .list-item .item-content .content-time {
  color: #666;
}
.o-page-home .o-page-body .o-body-list .list-item-footer {
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  color: #3c8edb;
  text-align: center;
  line-height: 40px;
}
.o-page-home .o-body-add-btn {
  background-color: #3c8edb;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  border-radius: 90px;
  font-size: 30px;
  line-height: 44px;
  bottom: 10px;
}
.o-page-home .o-body-add-btn .select {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  position: absolute;
}
