html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 16px;
}
html input,
body input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
html .o-page,
body .o-page {
  width: 100%;
  height: 100%;
  position: relative;
}
html .o-page .o-page-header,
body .o-page .o-page-header {
  height: 50px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #ff4330;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: white;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}
html .o-page .o-page-header .o-page-header-left,
body .o-page .o-page-header .o-page-header-left {
  width: 20%;
}
html .o-page .o-page-header .o-page-header-left .fa,
body .o-page .o-page-header .o-page-header-left .fa {
  font-size: 36px;
}
html .o-page .o-page-header .o-page-header-center,
body .o-page .o-page-header .o-page-header-center {
  text-align: center;
  width: 60%;
  flex-grow: 1;
}
html .o-page .o-page-header .o-page-header-right,
body .o-page .o-page-header .o-page-header-right {
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
}
html .o-page .o-page-header .o-page-header-right .right-item,
body .o-page .o-page-header .o-page-header-right .right-item {
  margin-left: 20px;
}
html .o-page .o-page-tab,
body .o-page .o-page-tab {
  font-size: 18px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  background-color: #ff4330;
  height: 50px;
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -moz-box-shadow: 10px 10px 3px #cdcdcd;
  /* 老的 Firefox */
  box-shadow: 0px 5px 3px #cdcdcd;
}
html .o-page .o-page-tab .tab-item,
body .o-page .o-page-tab .tab-item {
  padding: 10px;
  height: 50px;
  flex-grow: 1;
  width: 33%;
  color: #bd3328;
  text-align: center;
}
html .o-page .o-page-tab .tab-item.select,
body .o-page .o-page-tab .tab-item.select {
  border-bottom: 3px solid white;
  color: white;
}
html .o-page .o-page-body,
body .o-page .o-page-body {
  background-color: #e6e6e6;
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
html .o-page .o-page-body.has-tab,
body .o-page .o-page-body.has-tab {
  top: 100px;
}
html .o-page .o-page-body.has-footer,
body .o-page .o-page-body.has-footer {
  bottom: 60px;
}
html .o-page .o-page-footer,
body .o-page .o-page-footer {
  border-top: 1px solid #ebebeb;
  position: absolute;
  height: 60px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  right: 0px;
  padding: 10px;
}
html .o-page .o-page-footer .o-page-footer-btn,
body .o-page .o-page-footer .o-page-footer-btn {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 40px;
  background-color: green;
  border-radius: 4px;
}
