.o-page-profile {
  background-color: #e6e6e6;
}
.o-page-profile .profile-header {
  padding: 20px;
  text-align: center;
  background-color: green;
  height: 200px;
  width: 100%;
  color: white;
}
.o-page-profile .profile-header .header-photo {
  background-color: white;
  height: 100px;
  border-radius: 90px;
  width: 100px;
}
.o-page-profile .profile-header .header-text {
  font-size: 14px;
  line-height: 30px;
}
.o-page-profile .profile-header .header-name {
  font-size: 18px;
}
.o-page-profile .profile-driver {
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
  color: #666;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}
.o-page-profile .profile-driver .driver-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.o-page-profile .profile-driver .driver-item .fa {
  margin-right: 10px;
  font-size: 20px;
  color: #3c8edb;
}
.o-page-profile .profile-body {
  position: absolute;
  width: 100%;
  top: 250px;
  bottom: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.o-page-profile .profile-body .profile-description {
  color: #666;
  margin-bottom: 20px;
}
.o-page-profile .profile-body .profile-description .description-row {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}
.o-page-profile .profile-body .profile-description .description-content {
  margin: 0px 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: white;
}
.o-page-profile .profile-body .profile-rank {
  margin: 0px 10px;
  color: #666;
}
.o-page-profile .profile-body .profile-rank .rank-title {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}
.o-page-profile .profile-body .profile-rank .rank-title .title-right {
  color: #3c8edb;
}
.o-page-profile .profile-body .profile-rank .rank-list {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0px 10px;
}
.o-page-profile .profile-body .profile-rank .rank-list .list-header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}
.o-page-profile .profile-body .profile-rank .rank-list .list-header .header-item {
  width: 25%;
  flex-grow: 1;
}
.o-page-profile .profile-body .profile-rank .rank-list .list-header .header-item.right {
  text-align: right;
}
.o-page-profile .profile-body .profile-rank .rank-list .list-row {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
}
.o-page-profile .profile-body .profile-rank .rank-list .list-row .row-item {
  width: 25%;
  flex-grow: 1;
}
.o-page-profile .profile-body .profile-rank .rank-list .list-row .row-item.right {
  text-align: right;
}
.o-page-profile .profile-body .profile-rank .rank-list .list-row .row-item img {
  height: 20px;
  width: 20px;
}
