html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
html .o-page,
body .o-page {
  width: 100%;
  height: 100%;
  position: relative;
}
html .o-page .o-page-header,
body .o-page .o-page-header {
  height: 50px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #ff4330;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: white;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}
html .o-page .o-page-body,
body .o-page .o-page-body {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 60px;
  right: 0px;
  overflow-y: auto;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}
html .o-page .o-page-footer,
body .o-page .o-page-footer {
  border-top: 1px solid #ebebeb;
  position: absolute;
  height: 60px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  right: 0px;
  padding: 10px;
}
html .o-page .o-page-footer .o-page-footer-btn,
body .o-page .o-page-footer .o-page-footer-btn {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 40px;
  background-color: green;
  border-radius: 4px;
}
