.o-page-setting .o-page-body {
  color: #666;
}
.o-page-setting .o-page-body .o-setting-wapper {
  margin: 10px;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-title {
  line-height: 30px;
  color: #666;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-content {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-content .content-left {
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: #3c8edb;
  color: white;
  line-height: 80px;
  font-size: 40px;
  border-radius: 90px;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-content .content-right {
  padding-left: 10px;
  flex-grow: 1;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-content .content-right .name {
  font-size: 16px;
  color: #3c8edb;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-content .content-right .phone {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-content .content-right .role {
  color: #666;
  font-size: 14px;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-content .content-arrow .fa {
  font-size: 20px;
  color: #666;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row {
  padding: 0px 10px;
  background-color: white;
  border-radius: 5px;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row .row-item {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row .row-item:last-child {
  border: 0px;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row .row-item .row-icon {
  width: 40px;
  height: 40px;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row .row-item .row-content {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  align-content: center;
  flex-direction: row;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row .row-item .row-content .row-left {
  flex-grow: 1;
  width: 80%;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row .row-item .row-content .row-right {
  width: 100px;
  text-align: right;
}
.o-page-setting .o-page-body .o-setting-wapper .o-setting-row .row-item .row-content .fa {
  font-size: 20px;
  margin-left: 10px;
}
