.o-page-home .o-page-body .o-body-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
  height: 30px;
  -moz-box-shadow: 10px 10px 3px #cdcdcd;
  /* 老的 Firefox */
  box-shadow: 0px 5px 3px #cdcdcd;
}
.o-page-home .o-page-body .o-body-header .header-left {
  color: #999;
}
.o-page-home .o-page-body .o-body-header .header-right {
  color: #ff4330;
}
.o-page-home .o-page-body .o-body-sync-time {
  padding: 0px 10px;
  line-height: 30px;
  color: #ff4330;
  font-size: 14px;
}
.o-page-home .o-page-body .o-body-list .list-item {
  display: block;
  -moz-box-shadow: 10px 10px 3px #cdcdcd;
  /* 老的 Firefox */
  box-shadow: 0px 5px 3px #cdcdcd;
  border-radius: 5px;
  margin: 0px 10px 10px 10px;
  background-color: white;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row:last-child .row-content {
  border: 0px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-icon {
  background-color: red;
  width: 40px;
  line-height: 40px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content {
  color: #999;
  height: 40px;
  line-height: 40px;
  flex-grow: 1;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content .content-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content .content-right .fa {
  font-size: 28px;
  color: #999;
}
.o-page-home .o-page-body .o-body-list .list-item .item-row .row-content .content-right .right-icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: green;
}
