<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>申请页面</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_info.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>

</body>

</html>