<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/card_home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/card_home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-card">
    <div class="card-header">
      <a class="header-item select" href="/page_wechat/card_home">信用卡首页</a>
      <a class="header-item" href="/page_wechat/card_progress">申请进度</a>
    </div>
    <div class="card-banner"></div>
    <div class="card-body">
      <div class="body-row">
        <a href="/page_wechat/card_list" class="row-item">
          <div class="photo"></div>
          <div class="title">新手办卡</div>
          <div class="content">买买买</div>
        </a>
        <a href="/page_wechat/card_list" class="row-item">
          <div class="photo"></div>
          <div class="title">高额取现</div>
          <div class="content">强强强</div>
        </a>
      </div>
      <div class="body-row">
        <a href="/page_wechat/card_list" class="row-item">
          <div class="photo"></div>
          <div class="title">网购精选</div>
          <div class="content">剁剁剁</div>

        </a>
        <a href="/page_wechat/card_list" class="row-item">
          <div class="photo"></div>
          <div class="title">商务旅游</div>
          <div class="content">赞赞赞</div>
        </a>
      </div>
    </div>
    <div class="card-list">
      <div class="list-title">信用卡推荐</div>
      <a href="/page_wechat/card_detail" class="card-item">
        <div class="photo">
        </div>
        <div class="title">建设银行</div>
        <div class="content">积分兑换辛巴克</div>
        <div class="arrow"></div>
      </a>
      <a href="/page_wechat/card_detail" class="card-item">
        <div class="photo">
        </div>
        <div class="title">建设银行</div>
        <div class="content">积分兑换辛巴克</div>
        <div class="arrow"></div>
      </a>
      <a href="/page_wechat/card_detail" class="card-item">
        <div class="photo">
        </div>
        <div class="title">建设银行</div>
        <div class="content">积分兑换辛巴克</div>
        <div class="arrow"></div>
      </a>
    </div>
  </div>
</body>

</html>