<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/card_list.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/card_list.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-card-list">
    <div class="list-banner"></div>
    <div class="list-title">新手办卡精选</div>
    <div class="list">
      <a href="/page_wechat/card_detail" class="list-item">
        <div class="photo"></div>
        <div class="title">
          交通银行younng卡
        </div>
        <div class="tag-row">
          <div class="row-item">一元停车</div>
          <div class="row-item">买车优惠</div>
        </div>
        <div class="content">
          1341231
          <span>人成功申请</span>
        </div>
      </a>
      <a href="/page_wechat/card_detail" class="list-item">
        <div class="photo"></div>
        <div class="title">
          交通银行younng卡
        </div>
        <div class="tag-row">
          <div class="row-item">一元停车</div>
          <div class="row-item">买车优惠</div>
        </div>
        <div class="content">
          1341231
          <span>人成功申请</span>
        </div>
      </a>
      <a href="/page_wechat/card_detail" class="list-item">
        <div class="photo"></div>
        <div class="title">
          交通银行younng卡
        </div>
        <div class="tag-row">
          <div class="row-item">一元停车</div>
          <div class="row-item">买车优惠</div>
        </div>
        <div class="content">
          1341231
          <span>人成功申请</span>
        </div>
      </a>
      <a href="/page_wechat/card_detail" class="list-item">
        <div class="photo"></div>
        <div class="title">
          交通银行younng卡
        </div>
        <div class="tag-row">
          <div class="row-item">一元停车</div>
          <div class="row-item">买车优惠</div>
        </div>
        <div class="content">
          1341231
          <span>人成功申请</span>
        </div>
      </a>
    </div>
  </div>
</body>

</html>