<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-home">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <img class="swiper-slide" src="../c_wechat/images/home/banner.png" />
        <!-- <div class="swiper-slide" style="background-color:gray">Slide 2</div> -->
        <!-- <div class="swiper-slide" style="background-color:red">Slide 3</div> -->
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
    <a href="/page_wechat/question" class="home-apply-btn">
      我要借款
    </a>
    <div class="home-bottom">
      <a href="/page_wechat/vip_notice" class="item left">
        <img src="../c_wechat/images/home/vip.png" class="icon"></img>
        <div class="title">VIP通道</div>
        <div class="description">风控专家人工报告，承诺100%下款成功</div>
      </a>
      <a href="/page_wechat/invite_notice"  class="item right">
        <img src="../c_wechat/images/home/crown.png" class="icon"></img>
        <div class="title">特邀放贷</div>
        <div class="description">白名单特邀专享，超多惊喜额度</div>
      </a>
    </div>
  </div>
  <div class="page-footer">
    <a href="/page_wechat/home" class="footer-item select">
      <img src="../c_wechat/images/index/yen_select.png" class="icon"></img>
      <div class="title">贷款</div>
    </a>
    <a href="/page_wechat/self_home" class="footer-item">
      <img src="../c_wechat/images/index/shopping.png" class="icon"></img>
      <div class="title">找钱</div>
    </a>
    <a href="/page_wechat/pay_test" class="footer-item">
      <img src="../c_wechat/images/index/yen.png" class="icon"></img>
      <div class="title">福利</div>
    </a>
    <a href="https://credit.haodai.com/?ref=hd_11019247" class="footer-item">
      <img src="../c_wechat/images/index/wallet.png" class="icon"></img>
      <div class="title">信用卡</div>
    </a>
    <a href="/page_wechat/me" class="footer-item ">
      <img src="../c_wechat/images/index/payment.png" class="icon"></img>
      <div class="title">我的</div>
    </a>
  </div>
</body>

</html>