<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>VIP授权须知</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/invite_notice.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/invite_notice.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-invite-notice">
    <div class="title">
      特邀放款说明
    </div>
    <div class="content">
      本产品只对特定用户开发，极速放款，1分钟到账，额度最高5万，免息，增额，贷款返息券，多种特邀用户专享优惠

    </div>
    <div class="content">
      您可以尝试一下方法开通额度
    </div>

    <div class="content">
      <div>
        ① 开通VIP，让我们精准了解您的征信情况。
      </div>
      <div>
        ② 多使用我们的系列产品，信用卡及POS机业务，让我们收集您的业务状况。
      </div>
      <div>
        ③ 尽量多的在我们福利系统兑换产品，让我们获得更多电商数据已增加对您的授信及各类特权。
      </div>
      <div>
        ④ 加入我们推荐系统，多推广，多获得业务返佣，财务良好，我们会赠送额度及免息券
      </div>
    </div>
  </div>
  <div class="footer">
    <div href="" class="notice-btn">
      我已接到特邀函
    </div>
</body>

</html>