<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/helpers/time.client.helper.js"></script>
  <script src="../c_wechat/controllers/me.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-me-header">
    <img src="<%= (user.wechat_info.headimgurl?user.wechat_info.headimgurl:'--') %>" class="header-left"></img>
    <div class="header-right">
      <div class="header-name">
        <div class="nickname">
          <%= (user.wechat_info.openid?user.wechat_info.nickname:'--') %>
        </div>


        <% if (user.vip_status==='passed') { %>
          <div class="vip-tag">vip会员</div>
          <div class="vip-tag">代理商</div>
          <% } else  {%>
            <div class="vip-tag no">非vip会员</div>
            <div class="vip-tag no">非代理商</div>
            <% } %>
      </div>
      <% if (user.vip_status==='passed') { %>
        <div class="header-login vip-time">
          <%= user.vip_payed_time %>
        </div>
        <div class="header-login" href="/page_wechat/vip_notice">升级为s级代理商</div>
        <div class="header-rights">s级代理商的优势说明</div>
        <% } else  {%>
          <div class="header-login" href="/page_wechat/vip_notice">成为vip会员</div>
          <div class="header-rights">关于会员及返现权益？</div>
          <% } %>

    </div>
  </div>
  <% if (user.vip_status==='passed') { %>

    <div class="me-current-rights">
      <div class="rights-title">当前权限</div>
      <div class="rights-content">
        <div class="dot"></div>
        <div class="text"> 会员期内首次申请获得100%下款通道，过桥资金通道，征信报告</div>
      </div>
      <div class="rights-content">
        <div class="dot"></div>
        <div class="text"> 服务期间，您将获得贷款月返现；分期月返现；办理信用卡月返现；使用POS机月返现权益；另赠送2次抽奖机会</div>
      </div>
    </div>
    <% } %>

      <div class="page-me-list">
        <a class="list-item" href="/page_wechat/me_info">
          <img src="../c_wechat/images/me/my_info.png" class="item-icon"></img>
          <span class="item-text">个人资料</span>
          <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
        </a>
        <a class="list-item" href="/page_wechat/me_achievement">
          <img src="../c_wechat/images/me/my_achievement.png" class="item-icon"></img>
          <span class="item-text">我的业绩</span>
          <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
        </a>
        <a class="list-item" href="/page_wechat/me_account">
          <img src="../c_wechat/images/me/my_account.png" class="item-icon"></img>
          <span class="item-text">我的账户</span>
          <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
        </a>
        <a class="list-item" href="/page_wechat/me_agent">
          <img src="../c_wechat/images/me/my_agent.png" class="item-icon"></img>
          <span class="item-text">我的代理</span>
          <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
        </a>
        <a class="list-item" href="/page_wechat/me_help">
          <img src="../c_wechat/images/me/my_help.png" class="item-icon"></img>
          <span class="item-text">官方客服及微博</span>
          <img src="../c_wechat/images/arrow_right.png" class="item-arrow"></img>
        </a>
      </div>

      <div class="footer-me-btn">退出登录</div>
</body>

</html>