<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的业绩</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_achievement.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-me-achievement">
    <div class="list">
      <div class="list-item">
        <div class="header">
          <div class="type yellow">POS机</div>
          <div class="text">佣金：1500.00</div>
        </div>
        <div class="body">
          <div class="body-item">
            <div class="title">推荐用户尾号</div>
            <div class="text">3456</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">业务月份</div>
            <div class="text">3456</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">支付时间</div>
            <div class="text">3456</div>
          </div>
        </div>
      </div>
      <div class="list-item">
        <div class="header">
          <div class="type blue">贷款</div>
          <div class="text">佣金：1500.00</div>
        </div>
        <div class="body">
          <div class="body-item">
            <div class="title">推荐用户尾号</div>
            <div class="text">3456</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">业务月份</div>
            <div class="text">3456</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">支付时间</div>
            <div class="text">3456</div>
          </div>
        </div>
      </div>

      <div class="list-item">
        <div class="header">
          <div class="type red">VIP会员</div>
          <div class="text">佣金：1500.00</div>
        </div>
        <div class="body">
          <div class="body-item">
            <div class="title">推荐用户尾号</div>
            <div class="text">3456</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">业务月份</div>
            <div class="text">3456</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">支付时间</div>
            <div class="text">3456</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>