<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>个人信息</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_info.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-me-info">
    <div class="info-header">
      <a class="info-item select" href="/page_wechat/me_info">个人信息</a>
      <a class="info-item" href="/page_wechat/me_business">商务资料</a>
    </div>
    <div class="info-list">
      <div class="info-item">
        <div class="item-text">姓名</div>
        <input class="item-value" placeholder="请输入姓名" type="text" />
      </div>
      <div class="info-item">
        <div class="item-text">预留手机</div>
        <input class="item-value" type="text" />
      </div>
      <div class="info-item">
        <div class="item-text">身份证号</div>
        <input class="item-value" type="text" />
      </div>
      <div class="info-item">
        <div class="item-text">所在城市</div>
        <input class="item-value" type="text" />
      </div>
      <div class="info-item">
        <div class="item-text">婚姻状况</div>
        <input class="item-value" type="text" />
      </div>
      <div class="info-item">
        <div class="item-text">文化程度</div>
        <input class="item-value" type="text" />
      </div>
    </div>
    <div class="submit-btn">保存</div>
  </div>
</body>

</html>