<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>我的账单</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_bill.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-me-bill">
    <div class="list">
      <div class="list-item">
        <div class="header">
          <div class="type yellow">POS机</div>
          <div class="text">佣金：1500.00</div>
        </div>
        <div class="body">
          <div class="body-item">
            <div class="title">周期</div>
            <div class="text">8/12</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">扣款时间</div>
            <div class="text">2017-10-12</div>
          </div>
        </div>
      </div>
      <div class="list-item">
        <div class="header">
          <div class="type green">POS机</div>
          <div class="text">佣金：1500.00</div>
        </div>
        <div class="body">
          <div class="body-item">
            <div class="title">周期</div>
            <div class="text">8/12</div>
          </div>
          <div class="border"></div>
          <div class="body-item">
            <div class="title">扣款时间</div>
            <div class="text">2017-10-12</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>