<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>VIP资料</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/me_info.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-me-info">
    <div class="info-header">
      <a class="info-item" href="/page_wechat/me_info">个人信息</a>
      <a class="info-item" href="/page_wechat/me_business">商务资料</a>
      <a class="info-item select" href="/page_wechat/me_vip">VIP资料</a>
    </div>
    <div class="info-list">
      <div class="info-item">
        <div class="item-text">芝麻分</div>
        <input class="item-value" placeholder="请输入姓名" type="text" />
      </div>
      <a href="/carrier/page_carrier_url" class="info-item carrier">
        <div class="item-text">通讯运营商</div>
        <input class="item-value" type="text" value="<%= (user.carrier_token?'已授权':'去授权') %>" />
      </a>
      <a href="/pbc/page_pbc_url" class="info-item">
        <div class="item-text">个人征信账号</div>
        <input class="item-value" type="text" value="<%= (user.pbc_token?'已授权':'去授权') %>" />
      </a>
    </div>
    <div class="submit-btn">保存</div>
  </div>
</body>

</html>