<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>Openport Wechat App</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/page_home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="o-page">
    <div class="o-page-header">
      <div class="o-page-header-left">left</div>
      <div class="o-page-header-center">center</div>
      <div class="o-page-header-right">right</div>
    </div>
    <div class="o-page-body"></div>
    <div class="o-page-footer">
      <div class="o-page-footer-btn">test btn</div>
    </div>
  </div>
</body>

</html>