<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>OPENPORT</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_expense_list.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/page_expense_list.client.controller.js"></script>
</head>

<body>
  <div class="o-page o-page-home">
    <div class="o-page-header">
      <div class="o-page-header-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="o-page-header-center">Expenses Feed</div>
      <div class="o-page-header-right">
        <div class="right-item">
          <a href="/page_wechat/page_expense_add" class="icon">
            <i href="/page_wechat/page_expense_add" class="fa fa-plus-square" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="o-page-tab">
      <div class="tab-item">待定</div>
      <div class="tab-item select">已提交</div>
    </div>
    <div class="o-page-body has-tab">
      <div class="o-body-list">
        <% for(var i=0; i<expenseList.length; i++) {%>
          <div class="list-item fold">
            <div class="item-header">
              <div class="header-left">
                <%= (new Date(expenseList[i].date).getDate() ) %>
              </div>
              <div class="header-center">
                <div class="month">
                  <%= (new Date(expenseList[i].date).getMonth()+1 ) %>月，
                    <%= (new Date(expenseList[i].date).getFullYear() ) %>
                </div>
                <div class="week">
                  星期
                  <%= ( ['日','一','二','三','四','五','六'][ new Date(expenseList[i].date).getDay() ]) %>
                </div>
              </div>
              <div class="header-right">
                <div class="price">
                  <%= expenseList[i].amount %>
                </div>
                <div class="arrow">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="item-body">
              <div class="left">
                <%= expenseList[i].type %>
              </div>
              <div class="right">
                <%= expenseList[i].amount %>
              </div>
            </div>
            <div class="item-footer">
              <div class="left">Total</div>
              <div class="right">RMB
                <%= expenseList[i].amount %>
              </div>
            </div>
          </div>
          <% } %>


            <div class="list-item">
              <div class="item-header">
                <div class="header-left">13</div>
                <div class="header-center">
                  <div class="month">12月，2017</div>
                  <div class="week">周日</div>
                </div>
                <div class="header-right">
                  <div class="price">20</div>
                  <div class="arrow">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-item-footer">加载更多...</div>
      </div>
    </div>
  </div>
</body>

</html>