<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>OPENPORT</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_detail_delivery.client.style.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_detail_delivery.client.controller.js"></script>
</head>

<body>
  <div class="o-page o-page-detail">
    <div class="o-page-header">
      <div class="o-page-header-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="o-page-header-center shipment-number">
        <%= shippment.shipmentNumber %>
      </div>
      <div class="o-page-header-right">
        <div class="right-item">
          <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
        </div>
      </div>
    </div>
    <div class="o-page-body has-footer">
      <div class="body-row-container">
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title"></div>
            <div class="content">
              <div class="text">
                <%= shippment.to.name %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title">交货地址</div>
            <div class="content">
              <div class="text">
                <%= shippment.to.line1 %>,
                  <%= shippment.to.province %>,
                    <%= shippment.to.cityLocality %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title">实际提货时间</div>
            <div class="content">
              <div class="text">
                <%= (shippment.pickupDate.replace('T',' '))  %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title">预计交付</div>
            <div class="content">
              <div class="text">
                <%= (shippment.etaDate.replace('T',' ')) %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content">
              <div class="text">单位数量:
                <span class="cartonCount">
                  <%= shippment.cartonCount %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if(shippment.statusId===14) {%>
        <div class="body-row-container">
          <div class="body-row">
            <div class="row-icon">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>
            <div class="row-right">
              <div class="content">
                <div class="text">实际交货时间</div>
                <input class="input" readonly="readonly" value="<%= (new Date().toLocaleString())  %>"></input>
              </div>
            </div>
          </div>
          <div class="body-row">
            <div class="row-icon">
              <i class="fa fa-list-alt green" aria-hidden="true"></i>
            </div>
            <div class="row-right">
              <div class="content">
                <div class="text">实际单位数量</div>
                <input type="number" class="input deliveredQty"></input>
              </div>
            </div>
          </div>
          <div class="body-row reason-container ">
            <div class="row-icon">
            </div>
            <div class="row-right">
              <div class="content ">
                <div class="text">选择原因</div>
                <input readonly="readonly" class="input reasonCode"></input>
              </div>
            </div>
          </div>
          <div class="body-row">
            <div class="row-icon">
              <i class="fa fa-paper-plane green" aria-hidden="true"></i>
            </div>
            <div class="row-right">
              <div class="content">
                <div class="text">发件人</div>
                <input class="input recipientName"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="body-photo-container">
          <div class="photo-container-header">
            <div class="header-icon">
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="header-text">交付凭证图片编号 :
              <span class="real-pic-count"></span>/
              <span class="max-pic-count">
                <%= shippment.maxPictures %>
              </span>
            </div>
          </div>
          <div class="photo-container-body">
            <div class="body-item">
              <div class="item-title">相册</div>
              <i class="fa fa-picture-o item-icon album" aria-hidden="true"></i>
            </div>
            <div class="body-item">
              <div class="item-title">新增照片</div>
              <i class="fa fa-camera item-icon camera" aria-hidden="true"></i>
            </div>
          </div>
          <div class="photo-container-footer">
          </div>
        </div>
        <% } %>
    </div>
    <div class="o-page-footer">
      <% if(shippment.statusId===9||shippment.statusId===19) {%>
        <div class="o-page-footer-btn undo start-unloading" id="<%= shippment.id %>">开始卸货</div>
        <% } %>
          <% if(shippment.statusId===14) {%>
            <div class="o-page-footer-btn undo submit-delivery" id="<%= shippment.id %>">提交交货凭证</div>
            <% } %>
    </div>
  </div>
</body>

</html>