<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>Openport Wechat App</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_signin.client.style.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_signin.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="o-page o-page-signin">
    <div class="o-page-header">
      <div class="o-page-header-left"></div>
      <div class="o-page-header-center">登录</div>
      <div class="o-page-header-right">
      </div>
    </div>
    <div class="o-page-body">
      <div class="o-logo">
        <div class="left">
          OPEN
        </div>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i class="fa fa-angle-right right " aria-hidden="true"></i>
        <div class="right">
          PORT
        </div>
      </div>
      <div class="o-input-row">
        <i class="fa fa-user"></i>
        <input class="input username" value="<%= username %>" type="text" placeholder="请输入用户名">
      </div>
      <div class="o-input-row">
        <i class="fa fa-lock"></i>
        <input class="input password" value="<%= password %>" type="password" placeholder="请输入密码">
      </div>
      <div class="o-submit">提交</div>
    </div>
  </div>
</body>

</html>