<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>OPENPORT</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_detail_delivery.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/swiper.min.js"></script>

  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_detail_complete.client.controller.js"></script>
</head>

<body>
  <div class="o-page o-page-detail">
    <div class="o-page-header">
      <div class="o-page-header-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="o-page-header-center shipment-number">
        <%= shippment.shipmentNumber %>
      </div>
      <div class="o-page-header-right">

      </div>
    </div>
    <div class="o-page-body has-footer">
      <div class="body-row-container">
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title"></div>
            <div class="content">
              <div class="text">
                <%= shippment.to.name %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title">交货地址</div>
            <div class="content">
              <div class="text">
                <%= shippment.to.line1 %>,
                  <%= shippment.to.province %>,
                    <%= shippment.to.cityLocality %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title">实际提货时间</div>
            <div class="content">
              <div class="text">
                <%= (shippment.pickupDate.replace('T',' '))  %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content-title">实际交货时间</div>
            <div class="content">
              <div class="text">
                <%= (shippment.deliveryDate.replace('T',' '))  %>
              </div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <div class="row-right">
            <div class="content">
              <div class="text">单位数量:
                <%= shippment.cartonCount %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-photo-container">
        <div class="photo-container-header">
          <div class="header-icon">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </div>
          <div class="header-text">提货凭证图片 :
          </div>
        </div>
        <div class="photo-container-footer">
          <% if(shippment.pickupPics) {%>
            <% for(var i=0; i<shippment.pickupPics.length; i++) {%>
              <div class="footer-item">
                <img class="item-photo" src="/api_wechat/downloadPhoto?id=<%= shippment.id %>&fileId=<%= shippment.pickupPics[i].fileId %>"></img>
              </div>
              <% } %>
                <% } %>
        </div>
      </div>
      <div class="body-photo-container">
        <div class="photo-container-header">
          <div class="header-icon">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </div>
          <div class="header-text">交付凭证图片 :
          </div>
        </div>
        <div class="photo-container-footer">
          <% if(shippment.deliveryPics) {%>
            <% for(var i=0; i<shippment.deliveryPics.length; i++) {%>
              <div class="footer-item">
                <img class="item-photo" src="/api_wechat/downloadPhoto?id=<%= shippment.id %>&fileId=<%= shippment.deliveryPics[i].fileId %>"></img>
              </div>
              <% } %>
                <% } %>
        </div>
      </div>
    </div>
    <div class="o-page-footer">
      <div class="o-page-footer-btn valid" id="<%= shippment.id %>">返回</div>
    </div>
  </div>
</body>
<script>
  var shippment = "<%= ( JSON.stringify( shippment)) %>";

  $(function () {
    var items = [];
    var pics = $('.item-photo');

    for (var i = 0; i < pics.length; i++) {
      items.push(pics[i].src);
    }
    var pb1 = $.photoBrowser({
      items: items
    });

    pics.click(function () {
      pb1.open();
    });

  })

</script>

</html>