<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>OPENPORT</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_profile.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/page_home.client.controller.js"></script>
</head>

<body>
  <div class="o-page o-page-profile">
    <div class="profile-header">
      <img src="" class="header-photo"></img>
      <div class="header-text">更新照片</div>
      <div class="header-name">Haryd Heng</div>
    </div>
    <div class="profile-driver">
      <div class="driver-item">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <div class="phone">11122222222</div>
      </div>
      <div class="driver-item">
        <i class="fa fa-user" aria-hidden="true"></i>
        <div class="driver">Driver</div>
      </div>
    </div>

    <div class="profile-body">
      <div class="profile-description">
        <div class="description-row">
          <div class="row-left">积分奖励</div>
          <div class="row-right">查看详情</div>
        </div>
        <div class="description-content">
          这里事说明
        </div>
      </div>
      <div class="profile-rank">
        <div class="rank-title">
          <div class="title-left">排行榜</div>
          <div class="title-right">更新</div>
        </div>
        <div class="rank-list">
          <div class="list-header">
            <div class="header-item">定位</div>
            <div class="header-item">名称</div>
            <div class="header-item">徽章</div>
            <div class="header-item right">得分</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
          <div class="list-row">
            <div class="row-item">1</div>
            <div class="row-item">名称（12）</div>
            <div class="row-item">会长</div>
            <div class="row-item right">23234</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>