<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>OPENPORT</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/page_home.client.controller.js"></script>
</head>

<body>
  <div class="o-page o-page-detail">
    <div class="o-page-header">
      <div class="o-page-header-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="o-page-header-center">Order_Number</div>
      <div class="o-page-header-right">
        <div class="right-item">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="o-page-body has-footer">
      <div class="body-row-container">
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content-title"></div>
            <div class="content">
              <div class="text">CITP</div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content-title">Pickup From</div>
            <div class="content">
              <div class="text">JOSE maria dasdf dsafasf sadfaf asf a</div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content-title">Estimated Pickup</div>
            <div class="content">
              <div class="text">18 September 2017 20:00:00</div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content-title">Estimated Delivery</div>
            <div class="content">
              <div class="text">18 September 2017 20:00:00</div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content">
              <div class="text">Total Count: 1500</div>
            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content">
              <div class="text"> Multi-Drop Shipment: 5</div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-row-container">
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content">
              <div class="text">Actual Pickup</div>
              <input class="input"></input>

            </div>
          </div>
        </div>
        <div class="body-row">
          <div class="row-icon">
          </div>
          <div class="row-right">
            <div class="content">
              <div class="text">Actual Unit Count</div>
              <input class="input"></input>
            </div>
          </div>
        </div>
      </div>
      <div class="body-photo-container">
        <div class="photo-container-header">
          <div class="header-icon"></div>
          <div class="header-text">Number of POD images : 1/10</div>
        </div>
        <div class="photo-container-body">
          <div class="body-item">
            <div class="item-title">Gallery</div>
            <img src="" class="item-icon"></img>
          </div>
          <div class="body-item">
            <div class="item-title">New Photo</div>
            <img src="" class="item-icon"></img>
          </div>
        </div>
        <div class="photo-container-footer">
          <div class="footer-item">
            <div class="item-photo"></div>
            <div class="item-delete"></div>
          </div>
          <div class="footer-item">
            <div class="item-photo"></div>
            <div class="item-delete"></div>
          </div>
          <div class="footer-item">
            <div class="item-photo"></div>
            <div class="item-delete"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-page-footer">
      <div class="o-page-footer-btn undo">test btn</div>
    </div>
  </div>
</body>

</html>