<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>OPENPORT</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_expense_add.client.style.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_expense_add.client.controller.js"></script>
</head>

<body>
  <div class="o-page o-page-home">
    <div class="o-page-header">
      <div class="o-page-header-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="o-page-header-center">日志费用</div>
      <div class="o-page-header-right">
      </div>
    </div>
    <div class="o-page-body has-footer">
      <div class="body-header">
        添加您的费用明细
      </div>
      <div class="body-row">
        <input id="ship-select" class="ship-select row-left shippment-input" readonly="readonly" placeholder="请选择货运"></input>
        <input id="type-select" class="row-right type-input" readonly="readonly" placeholder="请选择类型"></input>
      </div>
      <div class="body-row">
        <input class="row-left amount" type="number" placeholder="请输入金额"></input>
        <input class="row-right date" type="date" placeholder="请选择日期"></input>
      </div>
      <div class="body-row">
        <input class="row-right description" placeholder="描述"></input>
      </div>
      <div class="body-photo camera">
        <div class="photo-tip camera">点击添加费用照片</div>
        <img class="photo-img camera"></img>
      </div>
    </div>
    <div class="o-page-footer">
      <div class="o-page-footer-btn undo submit">提交</div>
    </div>

  </div>
  <div class="o-mask shippment-panel">
    <div class="o-select-panel">
      <div class="select-header">选择运单</div>
      <div class="select-title">选择所有运单</div>
      <div class="select-list">
        <% for(var i=0; i<shippments.length; i++) {%>
          <% if(shippments[i].content.shipmentStatus==='DELIVERED') {%>

            <div class="select-item">
              <div id="<%= shippments[i].content.id %>">
                <%= shippments[i].content.shipmentNumber %>
              </div>
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </div>
            <% } %>
              <% } %>
      </div>
      <div class="select-btn">选择</div>
    </div>
  </div>
  </div>
</body>

</html>