<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>OPENPORT</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/page_home.client.controller.js"></script>
</head>

<body>
  <div class="o-page o-page-home">
    <div class="o-page-header">
      <div class="o-page-header-left">
        <i class="fa fa-share-square"></i>
      </div>
      <div class="o-page-header-center">OPENPORT</div>
      <div class="o-page-header-right">

        <div class="right-item">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
        <div class="right-item">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="o-page-tab">
      <div class="tab-item">ASSIGNED</div>
      <div class="tab-item select">INTRANSIT</div>
      <div class="tab-item">DELIVERD</div>
    </div>
    <div class="o-page-body has-tab">
      <div class="o-body-header">
        <div class="header-left">Sort</div>
        <div class="header-right">Delivery date</div>
      </div>
      <div class="o-body-sync-time">Last sync 3 minutes 53 second ago</div>
      <div class="o-body-list">
        <a href="/page_wechat/page_detail" class="list-item">
          <div class="item-row">
            <div class="row-icon"></div>
            <div class="row-content">
              <div class="content-left">Build121_test</div>
              <div class="content-right">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <div class="right-icon"></div>
                <div class="right-icon"></div>
                <div class="right-icon"></div>
              </div>
            </div>
          </div>
          <div class="item-row">
            <div class="row-icon"></div>
            <div class="row-content">
              <div class="content-left">CITP</div>
              <div class="content-right">safs</div>
            </div>
          </div>
        </a>
        <div class="list-item">
          <div class="item-row">
            <div class="row-icon"></div>
            <div class="row-content">
              <div class="content-left">Build121_test</div>
              <div class="content-right">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <div class="right-icon"></div>
                <div class="right-icon"></div>
                <div class="right-icon"></div>
              </div>
            </div>
          </div>
          <div class="item-row">
            <div class="row-icon"></div>
            <div class="row-content">
              <div class="content-left">CITP</div>
              <div class="content-right">safs</div>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="item-row">
            <div class="row-icon"></div>
            <div class="row-content">
              <div class="content-left">Build121_test</div>
              <div class="content-right">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <div class="right-icon"></div>
                <div class="right-icon"></div>
                <div class="right-icon"></div>
              </div>
            </div>
          </div>
          <div class="item-row">
            <div class="row-icon"></div>
            <div class="row-content">
              <div class="content-left">CITP</div>
              <div class="content-right">safs</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>