<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-home">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-color:green">Slide 1</div>
        <div class="swiper-slide" style="background-color:gray">Slide 2</div>
        <div class="swiper-slide" style="background-color:red">Slide 3</div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
    <a href="/page_wechat/question" class="home-apply-btn">
      我要借款
    </a>
    <div class="home-bottom">
      <div class="item left">
        <img src="" class="icon"></img>
        <div class="title">VIP通道</div>
        <div class="description">VIP专属服务，保证您100%贷款成功</div>
      </div>
      <div class="item right">
        <img src="" class="icon"></img>
        <div class="title">特邀房贷</div>
        <div class="description">优质用户的专属优惠服务</div>
      </div>
    </div>
  </div>
  <div class="page-footer">
    <a href="/page_wechat/home" class="footer-item select">
      <img src="" class="icon"></img>
      <div class="title">贷款</div>
    </a>
    <a class="footer-item">
      <img src="" class="icon"></img>
      <div class="title">自助</div>
    </a>
    <div class="footer-item">
      <img src="" class="icon"></img>
      <div class="title">福利</div>
    </div>
    <div class="footer-item">
      <img src="" class="icon"></img>
      <div class="title">信用卡</div>
    </div>
    <div class="footer-item ">
      <img src="" class="icon"></img>
      <div class="title">我的</div>
    </div>
  </div>
</body>

</html>