<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/product_detail.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="product-detail-page">
    <div class="detail-header">
      <img src="<%= product.logo %>" class="photo">
      </img>
      <div class="header-content">
        <div class="title">
          <%= product.name||'--' %>
        </div>
        <div class="content">
          <div class="content">
            <div class="key">
              <%= product.str1||'--' %>
            </div>
            <div class="value">下款率</div>
          </div>
          <div class="border"></div>
          <div class="content">
            <div class="key">
              <%= product.str2||'--' %>
            </div>
            <div class="value">最快下款</div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-tags">
      <% for(var i=0; i<product.str3s.length; i++) {%>
        <div class="tag-item">
          <%= product.str3s[i] %>
        </div>
        <% } %>
    </div>
    <div class="detail-input">
      <div class="input-row">
        <div class="title">金额</div>
        <div class="value">
          <%= product.str4||'--' %>
        </div>
      </div>
      <div class="input-row">
        <div class="title">期限</div>
        <div class="value">
          <%= product.str5||'--' %>
        </div>
      </div>
    </div>
    <div class="detail-apply">
      <div class="apply-item">
        <div class="title">
          所需材料
        </div>
        <% for(var i=0; i<product.str6s.length; i++) {%>
          <div class="value">
            <div class="dot"></div>
            <%= product.str6s[i] %>
          </div>
          <% } %>
      </div>
      <div class="apply-item">
        <div class="title">
          申请条件
        </div>
        <% for(var i=0; i<product.str7s.length; i++) {%>
          <div class="value">
            <div class="dot"></div>
            <%= product.str7s[i] %>
          </div>
          <% } %>
      </div>
    </div>
    <div class="description-area">

      <div class="area-title">
        <div class="area-dot">
        </div>
        费用说明
      </div>
      <div class="area-content">
        <div class="key">
          <%= (product.str8||'--') %>
        </div>
        <div class="value">
          <%= (product.str9||'--') %>
        </div>
      </div>
    </div>
    <div class="description-area">
      <div class="area-title">
        <div class="area-dot">
        </div>
        <span>还款说明</span>
      </div>
      <div class="area-content">
        <div class="key">还款方式</div>
        <div class="value">
          <%= (product.str10||'--') %>
        </div>
      </div>
      <div class="area-content">
        <div class="key">提前还款</div>
        <div class="value">
          <%= (product.str11||'--') %>
        </div>
      </div>
      <div class="area-content">
        <div class="key">逾期政策</div>
        <div class="value">
          <%= (product.str12||'--') %>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-footer">
    <a href="<%= product.organization_url %>" class="footer-btn">确认申请</a>
  </div>



</body>

</html>