<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>我要借款</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/question.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../c_wechat/controllers/question.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="question-header">
    请如实回答以下问题，系统将推荐最适合您的贷款服务！
  </div>
  <div class="question-page">

    <div class="question-list">
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您需要的资金金额大小</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请问您需要的资金金额大小" class="option" value="A" id="A: 500~5000元">
            </input>
            <label for="A: 500~5000元">A: 500~5000元</label>
          </div>
          <div class="option">
            <input type="radio" name="请问您需要的资金金额大小" class="option" value="B" id="B: 5000~20000元">
            </input>
            <label for="B: 5000~20000元">B: 5000~20000元</label>
          </div>
          <div class="option">
            <input type="radio" name="请问您需要的资金金额大小" class="option" value="C" id="C: 金额越大越好">
            </input>
            <label for="C: 金额越大越好">C: 金额越大越好</label>
          </div>
          <div class="option">
            <input type="radio" name="请问您需要的资金金额大小" class="option" value="D" id="D: 根据个人资质批额度就行">
            </input>
            <label for="D: 根据个人资质批额度就行">D: 根据个人资质批额度就行</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您贷款的用途是什么</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请问您贷款的用途是什么" class="option" value="A" id="A: 个人日常消费" />
            <label for="A: 个人日常消费">A: 个人日常消费</label>

          </div>
          <div class="option">
            <input type="radio" name="请问您贷款的用途是什么" class="option" value="B" id="B: 家庭购物" />
            <label for="B: 家庭购物">B: 家庭购物</label>

          </div>
          <div class="option">
            <input type="radio" name="请问您贷款的用途是什么" class="option" value="C" id="C: 医疗教育" />
            <label for="C: 医疗教育">C: 医疗教育</label>

          </div>
          <div class="option  ">
            <input type="radio" name="请问您贷款的用途是什么" class="option" value="D" id="D: 其它" />
            <label for="ssss">D: 其它</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问以下您能接受的方式是什么</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请问以下您能接受的方式是什么" class="option" value="A" id="A: 长期分期（12-24个月）" />
            <label for="A: 长期分期（12-24个月">A: 长期分期（12-24个月）</label>

          </div>
          <div class="option">
            <input type="radio" name="请问以下您能接受的方式是什么" class="option" value="B" id="B: 中期分期（3-6个月）" />
            <label for="B: 中期分期（3-6个月）">B: 中期分期（3-6个月）</label>

          </div>
          <div class="option">
            <input type="radio" name="请问以下您能接受的方式是什么" class="option" value="C" id="C: 短期分期（1-2个月）" />
            <label for="C: 短期分期（1-2个月）">C: 短期分期（1-2个月）</label>

          </div>
          <div class="option  ">
            <input type="radio" name="请问以下您能接受的方式是什么" class="option" value="D" id="D: 短期周转（1-30天）" />
            <label for="D: 短期周转（1-30天）">D: 短期周转（1-30天）</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您的性别及婚姻状况</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请问您的性别及婚姻状况" class="option" value="A" id="A: 男，已婚" />
            <label for="A: 男，已婚">A: 男，已婚</label>
          </div>
          <div class="option">
            <input type="radio" name="请问您的性别及婚姻状况" class="option" value="B" id="B: 男，未婚" />
            <label for="B: 男，未婚">B: 男，未婚</label>
          </div>
          <div class="option">
            <input type="radio" name="请问您的性别及婚姻状况" class="option" value="C" id="C: 女，已婚" />
            <label for="C: 女，已婚">C: 女，已婚</label>
          </div>
          <div class="option  ">
            <input type="radio" name="请问您的性别及婚姻状况" class="option" value="D" id="D: 女，未婚" />
            <label for="D: 女，未婚">D: 女，未婚</label>
          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问您的电商采购历史</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请问您的电商采购历史" class="option" value="A" id="A: 1-3年京东/淘宝购物历史" />
            <label for="A: 1-3年京东/淘宝购物历史">A: 1-3年京东/淘宝购物历史</label>

          </div>
          <div class="option">
            <input type="radio" name="请问您的电商采购历史" class="option" value="B" id="B: 4-5年京东/淘宝购物历史" />
            <label for="B: 4-5年京东/淘宝购物历史">B: 4-5年京东/淘宝购物历史</label>

          </div>
          <div class="option">
            <input type="radio" name="请问您的电商采购历史" class="option" value="C" id="C: 6年以上京东/淘宝购物历史" />
            <label for="C: 6年以上京东/淘宝购物历史">C: 6年以上京东/淘宝购物历史</label>

          </div>
          <div class="option  ">
            <input type="radio" name="请问您的电商采购历史" class="option" value="D" id="D: 无以上可追溯记录" />
            <label for="D: 无以上可追溯记录">D: 无以上可追溯记录</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请问选择以下贴合您的信用卡状况</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请问选择以下贴合您的信用卡状况" class="option" value="A" id="A: 两年内有过两次以下逾期" />
            <label for="A: 两年内有过两次以下逾期">A: 两年内有过两次以下逾期</label>

          </div>
          <div class="option">
            <input type="radio" name="请问选择以下贴合您的信用卡状况" class="option" value="B" id="B: 有信用卡欠款逾期未还" />
            <label for="B: 有信用卡欠款逾期未还">B: 有信用卡欠款逾期未还</label>

          </div>
          <div class="option">
            <input type="radio" name="请问选择以下贴合您的信用卡状况" class="option" value="C" id="C: 信用卡使用记录良好" />
            <label for="C: 信用卡使用记录良好">C: 信用卡使用记录良好</label>

          </div>
          <div class="option  ">
            <input type="radio" name="请问选择以下贴合您的信用卡状况" class="option" value="D" id="D: 我还没信用卡" />
            <label for="D: 我还没信用卡">D: 我还没信用卡</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请选择以下符合您申请贷款实情的</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请选择以下符合您申请贷款实情的" class="option" value="A" id="A: 我从未申请过网贷" />
            <label for="A: 我从未申请过网贷">A: 我从未申请过网贷</label>

          </div>
          <div class="option">
            <input type="radio" name="请选择以下符合您申请贷款实情的" class="option" value="B" id="B: 我已经是网黑" />
            <label for="B: 我已经是网黑">B: 我已经是网黑</label>

          </div>
          <div class="option">
            <input type="radio" name="请选择以下符合您申请贷款实情的" class="option" value="C" id="C: 过去三个月内申请过5次以下" />
            <label for="C: 过去三个月内申请过5次以下">C: 过去三个月内申请过5次以下</label>

          </div>
          <div class="option  ">
            <input type="radio" name="请选择以下符合您申请贷款实情的" class="option" value="D" id="D: 过去三个月内申请过5次以上" />
            <label for="D: 过去三个月内申请过5次以上">D: 过去三个月内申请过5次以上</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请选择以下符合您实际情况的答案</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请选择以下符合您实际情况的答案" class="option" value="A" id="A: 我的微粒贷已经开通" />
            <label for="A: 我的微粒贷已经开通">A: 我的微粒贷已经开通</label>

          </div>
          <div class="option">
            <input type="radio" name="请选择以下符合您实际情况的答案" class="option" value="B" id="B: 我的借呗已经开通" />
            <label for="B: 我的借呗已经开通">B: 我的借呗已经开通</label>

          </div>
          <div class="option">
            <input type="radio" name="请选择以下符合您实际情况的答案" class="option" value="C" id="C: 以上两者都已开通" />
            <label for="C: 以上两者都已开通">C: 以上两者都已开通</label>

          </div>
          <div class="option  ">
            <input type="radio" name="请选择以下符合您实际情况的答案" class="option" value="D" id="D: 以上两者都没开通" />
            <label for="D: 以上两者都没开通">D: 以上两者都没开通</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">关于工作情况以下符合您实际情况的</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="关于工作情况以下符合您实际情况的" class="option" value="A" id="A: 短期内没有换工作的打算" />
            <label for="A: 短期内没有换工作的打算">A: 短期内没有换工作的打算</label>

          </div>
          <div class="option">
            <input type="radio" name="关于工作情况以下符合您实际情况的" class="option" value="B" id="B: 我在自己创业，资金不够" />
            <label for="B: 我在自己创业，资金不够">B: 我在自己创业，资金不够</label>

          </div>
          <div class="option">
            <input type="radio" name="关于工作情况以下符合您实际情况的" class="option" value="C" id="C: 我是普通职工" />
            <label for="C: 工作前途不明朗想换工作">C: 工作前途不明朗想换工作</label>

          </div>
          <div class="option  ">
            <input type="radio" name="关于工作情况以下符合您实际情况的" class="option" value="D" id="D: 我现在没有工作" />
            <label for="D: 我现在没有工作">D: 我现在没有工作</label>

          </div>
        </div>
      </div>
      <div class="question-item">
        <div class="title">
          <span class="icon"></span>
          <span class="text">请选择以下符合您实际情况的</span>
        </div>
        <div class="content">
          <div class="option">
            <input type="radio" name="请选择以下符合您实际情况的" class="option" value="A" id="A: 我是普通职工" />
            <label for="A: 我是普通职工">A: 我是普通职工</label>

          </div>
          <div class="option">
            <input type="radio" name="请选择以下符合您实际情况的" class="option" value="B" id="B: 我是中层以上管理" />
            <label for="B: 我是中层以上管理">B: 我是中层以上管理</label>

          </div>
          <div class="option">
            <input type="radio" name="请选择以下符合您实际情况的" class="option" value="C" id="C: 我是个体户自己做事情" />
            <label for="C: 我是个体户自己做事情">C: 我是个体户自己做事情</label>

          </div>
          <div class="option  ">
            <input type="radio" name="请选择以下符合您实际情况的" class="option" value="D" id="D: 以上都不是" />
            <label for="D: 以上都不是">D: 以上都不是</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question-footer">
    <div class="footer-btn">下一步</div>
  </div>
</body>

</html>