<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/self_home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/self_home.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-self-home">
    <div class="card-header">
      <a class="header-item select" href="/page_wechat/self_home">贷款产品</a>
      <a class="header-item" href="/page_wechat/self_local">大额信贷</a>
    </div>
    <div class="filter-row">
      <select class="filter-select">
        <option value="str13" <%= (cur_filter==='str13'?'selected=selected':'') %>>按额度大小</option>
        <option value="str14" <%= (cur_filter==='str14'?'selected=selected':'') %>>按下款时间最短</option>
        <option value="str15" <%= (cur_filter==='str15'?'selected=selected':'') %>>按利率成本低到高</option>
        <option value="str16" <%= (cur_filter==='str16'?'selected=selected':'') %>>信用卡贷款</option>
        <option value="str17" <%= (cur_filter==='str17'?'selected=selected':'') %>>虚拟信用卡</option>
        <option value="str18" <%= (cur_filter==='str18'?'selected=selected':'') %>>信用无抵押贷款</option>
      </select>
    </div>
    <div class="list">
      <% for(var i=0; i<products.length; i++) {%>
        <a href="/page_wechat/product_detail?product_id=<%= products[i]._id %>" class="list-item">
          <img class="photo" src="<%= products[i].logo %>" />
          <div class="title">
            <%= products[i].name %>
          </div>
          <div class="content">
            <div class="content-item">
              <div class="title">
                <%= (products[i].max_limit||'-') %>
              </div>
              <div class="value">最高额度</div>
            </div>
            <div class="content-border "></div>
            <div class="content-item">
              <div class="title">
                <%= (products[i].fee_cost_per_day||'-') %>%</div>
              <div class="value">参考日利率</div>
            </div>
            <div class="content-border "></div>
            <div class="content-item">
              <div class="title">
                <%= (products[i].apply_people_count||'-') %>人</div>
              <div class="value">借款成功</div>
            </div>
          </div>
        </a>
        <% } %>

    </div>
  </div>
</body>

</html>