<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>自助</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/self_local.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/self_local.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-self-local">
    <div class="card-header">
      <a class="header-item " href="/page_wechat/self_home">贷款产品</a>
      <a class="header-item select" href="/page_wechat/self_local">大额信贷</a>
    </div>
    <div class="filter-row">
      <select class="filter-select">
        <option>附近距离50公里</option>
        <option>附近距离100公里</option>
        <option>附近距离150公里</option>
      </select>
    </div>
    <div class="list">

      <% for(var i=0; i<credit_people_list.length; i++) {%>

        <a href="/page_wechat/credit_people_detail?credit_people_id=<%= credit_people_list[i]._id %>" class="list-item">
          <img src="<%= credit_people_list[i].photo %>" class="photo">
          </img>
          <div class="title">
            <%= credit_people_list[i].name %>
              <span>
                <%= credit_people_list[i].company_type %>
              </span>
          </div>
          <div class="content">
            <%= credit_people_list[i].personal_description %>
          </div>
          <div class="tags">
            <% for(var j=0; j<credit_people_list[i].tag_list.length; j++) {%>

              <span class="tag-item">
                <%= credit_people_list[i].tag_list[j] %>
              </span>
              <% } %>

          </div>
        </a>
        <% } %>

    </div>
  </div>
</body>

</html>