<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>潮钱借钱</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/signup.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/signup.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-signup">
    <div class="signup-row">
      <span class="row-title">手机号码</span>
      <input class="row-content username" type="text" placeholder="请输入手机号码"></input>
    </div>
    <!-- <div class="signup-row">
      <div class="row-title">验证码</div>
      <input class="row-content verify_code" type="text" placeholder="请输入验证码"></input>
    </div> -->
    <div class="signup-row">
      <div class="row-title">密码</div>
      <input class="row-content password" type="password" placeholder="请输入密码"></input>
    </div>
    <div class="signup-row">
      <div class="row-title">重复密码</div>
      <input class="row-content repassword" type="password" placeholder="请重复密码"></input>
    </div>
    <!-- <div class="signup-row">
      <div class="row-title">邀请码</div>
      <input class="row-content invite_code" type="text" placeholder="请输入邀请码"></input>
    </div> -->
    <div class="signup-row">

    </div>
    <div class="signup-agreements">
      <input type="radio" />
      <span>我已阅读并同意</span>
      <a href="">用户注册协议</a>
    </div>
    <div class="signup-btn">创建账户</div>
    <div class="signup-bottom">
      <span>已有账号？</span>
      <a href="/page_wechat/signin">立即登录</a>
    </div>
  </div>
</body>

</html>