<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>VIP授权须知</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/vip_notice.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/vip_notice.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-vip-notice">
    <div class="title">
      请仔细阅读并同意以下协议
    </div>
    <div class="content">
      您同意《潮钱网信用查询及精准推荐委托协议》及授权服务条款，相关内容如下：
    </div>
    <div class="sub-title">
      一，服务内容
    </div>
    <div class="content">
      <div>
        您接受以付费形式与潮钱网达成服务协议，服务内容包括：
      </div>
      <div>
        ①由您提供确切真实的个人资料，由潮钱网提供技术服务审核及平台评价，为您匹配对接确保可下贷款及服务的对应资金通道。同时潮钱网提供额外的过桥资金方相关资信作为赠品服务。
      </div>
      <div>
        ②涉及到您的个人真实资料，您必须清楚明白，潮钱网为您提供的信用评价是由您本人授权，并只允许您个人观看且评价效果是依据您提交资料的客观性做的技术评估，依据截至评价报告时间生成的信息，平台不涉及买卖用户信息的行为且对应技术评估资料在我方平台留存仅限48小时即删除。
      </div>
      <div>
        ③您作为主体责任人提供的资料必须是真实的，不虚假并且符合您目前现状的，否则导致不能匹配到真实资金方或者因为材料作假与个人征信不对等而导致资金方不能下款的情况，潮钱网作为技术匹配方不承担任何责任。
      </div>
      <div>
        ④对于您提供的个人资料，潮钱网向您承诺：您所有的个人资料都将作为确保为您服务的材料技术加密存储，绝不泄漏给非资金必须关联的他人或单位。同时，因为个人资信相关具备时效性，并不意味着您提交一次资料可保长久服务效果，一般来说，建议每两个月更新一次个人资料。
      </div>
      <div>
        ⑤如您选择点击“同意协议，开始查询并支付费用”将视为授权“珠海京呗互联科技有限公司”（以下简称本公司，亦同本文的潮钱网）向第三方支付/征信/金融机构查询/提交您的信用信息，并将视为阅读并理解本协议的全部内容，同时您将获得潮钱网VIP的特权（特权详情见本大项第一条内容）。
      </div>
      <div>
        ⑥以上内容作为简略服务叙述，详细服务及条款以下方条文叙述为要约。
      </div>
    </div>
    <div class="sub-title">
      二，授权条款：
    </div>
    <div class="content">
      <div>①您理解，为给您提供可观，科学，全面的信用管理及评价，以及其它本协议项目下服务的需要，您授权我们可以从合法保存有您信息的第三方，采集及处理您的各类信息，同时为避免每次采集都需要经过您的反复确认而导致过程繁杂，或者因此给您带来的不便，您同意第三方可直接向我们提供您的信息而不需要您再次授权。采集您的信息包括但不限于您的个人信息，行为信息，交易信息，资产信息，设备信息等，同时您也接收并同意我们直接采集以上所描述相关信息，您保证您提供真实，有效的相关信息在我们的技术平台上。您已经认识到您（作为个人用户）的收入，存款，有价证券，商业保险，不动产的信息及纳税数额信息对于您而言是相当私密而重要的。您同意我们向第三方采集并在适用的法律法规许可的范围内向信息使用者依法提供这些信息时，您已经充分理解并知晓该等信息被提供和使用的风险。这些风险包括但不限于：纳入这些信息对您的信用评级（评分），信用报告等结果可能产生的不利影响，该等信息被本公司依法提供给第三方后（比如资金下款方）被他人利用的风险，因您的信用状况较好而造成您被第三方向您推荐产品或者服务等打扰的风险（比如银行等）。
        您同意可直接向我们提供信息的第三方包括但不限于：金融机构，类金融机构，电子商务公司，电信运营商，政府公共信用信息平台及事业单位等一切盈利性，非盈利性，公共，民间的机构及组织。 同时，我们向您承诺：我们不会采集您的宗教信仰，基因，指纹，血型，疾病和病史信息以及适用的法律法规禁止采集的任何个人信息，同时我们也不会采集，追踪您在社交媒体上的言论信息。
      </div>
      <div>②您理解并同意，就征信服务而言，当第三方向我们查询您的相关信息时，该第三方应当获得您的事先书面同意并在约定范围使用，但是法律规定可以不经您授权即可查询的除外。因此，当您在相应场景下希望我们根据您的授权向第三方提供您的信息时，您应当向第三方做出清楚明确的授权，否则可能导致我们拒绝提供响应服务，或错误提供该服务，因此可能会给您造成不利影响或者损失。您充分理解并同意此结果的发生是由于您授权不清或者不够明确导致，所以您将承担响应的后果。
        您（作为事业单位，企业等组织）理解并同意，您同意第三方查询您的非贷款类或者其它非涉及商业机密信息时，我们可以向第三方提供您的相关信息。
      </div>
      <div>③为降低您身份被冒用及您关联非本人风险事件而影响您享受有关服务的风险，您同意我们在收到第三方提供您的信息时，授权我们及我们的合作机构可以通过您所留存的信息进行对比分析，直接向该第三方输出您的信息是否真实，准确，有效，以及是否存在关联风险事件的判断结果信息，但基于保护您个人信息的需要，在提供本款服务过程中，无论是我们还是我们的合作机构都不会在任何情况下输入除判断结果信息外您的其它信息。
        我们善意的提醒您，为了保护您免受身份冒用或者因为关联非本人风险事件而遭受损失，您在第三方的注册，登录或者使用相关服务过程中，第三方可能拒绝给您提供有关优惠条件或暂停终止向您提供服务。如您因此受到上述影响，潮钱网无须就此承担责任。
      </div>
      <div>④您理解并同意，如您使用了提现或者支付功能，应依据《借款协议》或者其它同等性质的融资文件中约定之日期进行还款，本公司有权选择通过短信，电话，社交帐号等途径对您进行服务与还款提醒。您理解并同意，如您未有按期还款，您的个人逾期行为信息将可能向第三方（包括但不限于征信机构，金融机构，公众媒体等）进行分享或公布，记录在您的个人信用信息数据库中，对此造成的不良后果您已知悉，请您珍重自身的信用记录，按时履行还款义务。
      </div>
      <div>⑤您理解并同意，您应当对您的信息变动履行及时告知义务，若您的联系方式发生变化，应及时通知本公司，否则由此造成或者带来影响和损失，本公司不承担责任。
      </div>
    </div>
    <div class="sub-title">
      三，保密条款：
    </div>
    <div class="content">
      <div>①本平台重视用户隐私的保护，因收集您的信息是处于遵守国家法律法规的规定以及向您提供服务或者提升服务质量的目的，本公司对您的信息承担保密义务，不会为满足第三方营销目的而出售或者出租等其它泄漏您的任何信息。
      </div>
      <div>②本公司在下列情况下才将您的信息与第三方分享： 1，实现获得用户明确授权的； 2，某些情况下，只有共享您的信息，才能提供您需要的服务或产品，亦或处理您与他人的交易纠纷或者争议。 3，某些服务和产品由本公司的合作伙伴或由本公司与合作伙伴共同提供，本公司会与其共享提供服务和产品需要的信息。
        4，本公司与第三方进行联合推广活动，本公司可能与其共享活动过程中产生的，为完成活动所必要的个人信息，如参加活动的中奖名单，中奖人联系方式等，以便第三方能及时向您发送奖品。 5，为维护本公司和其它分期查询用户的合法权益。 6，根据法律规定及合理商业习惯，在本公司计划与其它公司合并或者被其收购或其它资本市场活动（包括但不限于债券发行）时，以及其它情形下本公司需要接受来自其它主体的尽职调查时，本公司会把您的信息提供给必要的主体，但本公司会通过和这些主体签署保密协议等方式要求其对您的个人信息采取合理的保密措施。
        7，按照相关政府主管部门的要求的。 8，由于用户将其密码告知他人或与他人共享注册帐号与密码，由此导致任何个人信息的泄漏，或其它非因本公司原因导致用户个人信息泄漏； 9，任何由于黑客攻击，电脑病毒入侵及其它不可抗力事件导致的用户信息泄漏，公开

      </div>
    </div>
    <div class="sub-title">
      四，服务限制及终止：

    </div>
    <div class="content">
      <div>您同意如您违反以下保证或发生相关情形，我们将有权限制或者终止向您提供本协议下的部分或者全部服务。
      </div>
      <div>①如果您是个人用户，您向我们保证您已经年满16周岁，并具备完全民事行为能力。如果您是企业，事业单位等组织，您应是依法注册并合法开展经营活动或其它业务的主体。
      </div>
      <div>②您不可以在任何时候将我们的服务用于任何非法目的，比如侵害他人合法权益或者以非法方式使用我们的服务。
      </div>
      <div>
        ③您保证，在我们为您提供服务期间，您向我们提供的所有资料和信息都是真实，完整，准确的并能够及时更新，为了保障为您提供有效完整的服务，您同意我们发现您的身份存疑或涉嫌冒用他人身份信息时，有权基于保护您或其它第三方合理权益的需要，要求您配合补充或者更新相关身份信息及资料。
      </div>
      <div>④您保证，您不会授权他人使用我们的服务，比如，您将使用本协议项下服务所需要的载体，包括但不限于用于登录的账户，手机等披露或者提供给其他人代替您操作，使用我们的服务。我们善意的提醒您，上述操作可能导致他人冒用您的身份使用本协议项下服务，因此给您造成损失或者导致不良行为记录。
      </div>
      <div>⑤如果我们认为您没有遵守本协议的约定，或者我们认为继续为您提供服务将会导致我们或者第三方的合理权益受到损失。
      </div>
      <div>服务终止后，为了后续异议或者纠纷处理及未来查询相关信息的需要，从而保障我们及您的合法权益，您同意在服务终止后，我们仍可继续保留您使用我们服务期间形成的所有信息和数据，但我们不会主动采集您的任何信息。
      </div>
    </div>
    <div class="sub-title">
      五，服务中断或故障
    </div>
    <div class="content">
      <div>
        我们的系统在下列状况发生时会无法正常运作，所以下列情形中我们无法向您提供服务。您对此充分理解并同意我们无须就下述情况所导致服务无法正常提供时给您造成的各种影响或损失承担责任。
      </div>
      <div>
        ①我们公告的系统停机维护期间；
      </div>
      <div>
        ②电信设备出现故障不能进行数据传输的；
      </div>
      <div>
        ③发生台风，地震，海啸，洪水，停电，战争，恐怖袭击等事件造成我们系统故障不能执行业务的。
      </div>
      <div>
        ④由于黑客攻击，电信部门技术调整或故障，网站升级，第三方方面的问题等原因而造成我们的服务终端或者延迟。
      </div>
    </div>
    <div class="sub-title">
      六，责任限制：
    </div>
    <div class="content">
      <div>您理解，如因您主动授权第三方查询您的信息，从而导致第三方拒绝向您提供服务或者做出对您不利的决定时，考虑到该信息的提供是由您自主同意提供的，您同意我们无须就此承担任何责任。
      </div>
    </div>
    <div class="sub-title">
      七，服务内容异议：
    </div>
    <div class="content">
      <div>①如因您的征信资质不达下款方标准或者其它原因导致您支付并使用我们的VIP通道相关服务而导致无法达到最终下款效果；或因您提供不真实信息，已经下款但声称并没有下款等不符合实际状况等多种情况的，您同意，我们为维护相关实情有权利查询相关敏感信息，该类信息包括您的人民银行征信，网络征信等多维度第三方大数据或者平台，以及合作的资金方或平台，一旦确认为我方已经尽到责任与义务情况下，我们有权拒绝您的索赔等行为，同时对于期间验证等需要产生的各种查询费用或者成本，由您承担。
      </div>
      <div>②如您已经提供相关真实信息，并且个人资质符合各类贷款资金方标准而通过我方服务达不到获取贷款的效果，应在自付费申请日起的三个自然日内向平台反馈，如平台核实确实无法达到100%推荐下款效果的，平台承担退款责任，退款金额为：您申请VIP通道支付的费用减去您申请过程为服务您而与第三方查询相关信息中产生的各类支出费用后剩余的金额，具体情况应依据我方提供数据清单为准。
      </div>
    </div>
    <div class="sub-title">
      八，协议变更：
    </div>
    <div class="content">
      作为本协议服务的提供方，我们将依据国家法律，法规及其它规范性文件的规定变化，增加，变更了新的服务类型或服务方式，进一步明确协议双方的权利义务的需要对本协议进行调整变更，同时，您同意未来我们可以通过我们或合作伙伴的网站，客户端或其它适当的地方进行公布方式通知您，而不需要另行单独通知您协议发生变更。您在本协议内容公布变更后继续使用本服务，表示您已充分阅读，理解并接受变更后的协议内容；若您不同意修改后的协议内容，您应停止使用本服务。

    </div>
    <div class="sub-title">
      九，法律适用与管辖
    </div>
    <div class="content">
      <div>本协议相关的所有问题均受到中国大陆法律管辖，如果因为本协议产生任何本文无约定之争议，且本文约定之争议在不违反中华人民共和国法律的前提下，您同意由被告住所地人民法院管辖及裁决。
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="/page_wechat/vip_auth_info" class="notice-btn">
      同意协议
    </a>
</body>

</html>