<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>资料录入</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/vip_auth_1.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/vip_auth_2.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-vip-auth">
    <div class="auth-progress">
      <div class="progress-border"></div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/ensure_pay.png" class="icon select"></img>
        <div class="text">确认支付</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/has_input.png" class="icon"></img>
        <div class="text">资料录入</div>
      </div>
      <div class="progress-item">
        <img src="../c_wechat/images/vip/un_verified.png" class="icon"></img>
        <div class="text">报告结果</div>
      </div>
    </div>
    <div class="input-list">
      <a href="/carrier/page_carrier_url" class="list-item">
        <div class="title">通讯运营商</div>
        <div class="content">
          <%= (user.carrier_token?'已授权':'授权查询') %>
        </div>
        <img src="../c_wechat/images/arrow_right.png" class="arrow"></img>
      </a>
      <a href="/pbc/page_pbc_url" class="list-item">
        <div class="title">人行征信账号</div>
        <div class="content">
          <%= (user.pbc_token?'已授权':'授权查询') %>
        </div>

        <img src="../c_wechat/images/arrow_right.png" class="arrow"></img>
      </a>
    </div>
    <div class="descript-list">
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">通讯运营商请填写至少使用8个月以上的常用号码</div>
      </div>
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">通讯运营商请填写至少使用8个月以上的常用号码</div>
      </div>
      <div class="list-item">
        <div class="icon"></div>
        <div class="text">通讯运营商请填写至少使用8个月以上的常用号码</div>
      </div>
    </div>
    <div class="ensure-content">
      <input class="radio" checked type="radio" />
      <span class="title">我已阅读并同意</span>
      <span class="text">征信报告授权协议</span>
    </div>
    <div class="ensure">
      <div class="submit-btn">提交材料</div>
    </div>
    <div class="footer">
      <div class="icon"></div>
      <div class="footer-content">以上资料经技术加密处理，可联系客服修改，涉及隐私信息一律隐蔽处理，资料关系个人福利及资质，请认证填写并提交</div>
    </div>
  </div>
</body>
<script>
  var carrier_token = "<%= (user.pbc_token?'已授权':'授权查询') %>";
  var pbc_token = "<%= (user.pbc_token?'已授权':'授权查询') %>";

  $(function () {
    $('.submit-btn').click(function () {
      if (!carrier_token) {
        return alert('请通讯运营商授权');
      }
      if (!pbc_token) {
        return alert('请通人行征信授权');
      }
      $.ajax({
        method: 'post',
        url: '/user/updateUserAuth2',
        success: function (data) {


          console.log(data);
          if (!data.err) {
            window.location = window.location;
          }
        }
      });
    });
  });
</script>

</html>