<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>确认支付</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/vip_auth_report.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="../libs/Swiper/dist/js/swiper.jquery.min.js"></script>
  <script src="../c_wechat/controllers/vip_auth_report.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="page-vip-auth-report">
    <div class="header">个人征信资质鉴定及维护建议报告</div>
    <div class="header-row">
      <div class="title">姓名</div>
      <div class="value">
        <%= (vip_report.str1||'--') %>
      </div>
    </div>
    <div class="header-row">
      <div class="title">年龄</div>
      <div class="value">
        <%= (vip_report.str2||'--') %>
      </div>
    </div>
    <div class="header-row">
      <div class="title">手机号码</div>
      <div class="value">
        <%= (vip_report.str3||'--') %>
      </div>
    </div>
    <div class="header-row">
      <div class="title">身份证号码</div>
      <div class="value">
        <%= (vip_report.str4||'--') %>
      </div>
    </div>
    <div class="header-row">
      <div class="title">归属地</div>
      <div class="value">
        <%= (vip_report.str5||'--') %>
      </div>
    </div>
    <div class="content">
      <div class="content-title">
        <div class="icon"></div>
        <div class="title">粗略评估结果</div>
      </div>
      <div class="content-body">
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str6||'--') %>
          </div>
          <div class="title">风险指数</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str7||'--') %>
          </div>
          <div class="title">多头借贷风险</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str8||'--') %>
          </div>
          <div class="title">社交风险</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str9||'--') %>
          </div>
          <div class="title">交叉印证</div>
        </div>
        <div class="body-item">
          <div class="value">
            <%= (vip_report.str10||'--') %>
          </div>
          <div class="title">黑名单命中</div>
        </div>
      </div>
      <div class="content-footer">
        <div class="footer-item">
          <div class="dot"></div>
          <div class="text">指导结果：
            <%= (vip_report.str30||'--') %>
          </div>
        </div>
        <div class="footer-item">
          <div class="dot"></div>
          <div class="text">指说说明：0-100，指数越大，风险越高</div>
        </div>
        <div class="footer-item">
          <div class="dot"></div>
          <div class="text">测评状态：全网查询</div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <div class="icon"></div>
        <div class="title">通讯交叉信息</div>
      </div>
      <div class="content-row">
        <div class="body-row">
          <div class="title">直接在黑名单联系人数量</div>
          <div class="value">
            <%= (vip_report.str11||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">间接在黑名单联系人数量</div>
          <div class="value">
            <%= (vip_report.str12||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">一阶联系人总数</div>
          <div class="value">
            <%= (vip_report.str13||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">交叉二阶黑名单人数</div>
          <div class="value">
            <%= (vip_report.str14||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">新号/小号行为</div>
          <div class="value">
            <%= (vip_report.str15||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">灰度/黑度行为</div>
          <div class="value">
            <%= (vip_report.str16||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">中介/推广行为</div>
          <div class="value">
            <%= (vip_report.str17||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">二阶关系联查</div>
          <div class="value">
            <%= (vip_report.str18||'--') %>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <div class="icon"></div>
        <div class="title">大数据记录 - 主动属性</div>
      </div>
      <div class="content-row">
        <div class="body-row">
          <div class="title">负债杠杆</div>
          <div class="value">
            <%= (vip_report.str19||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">债务质量</div>
          <div class="value">
            <%= (vip_report.str20||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">信用基础</div>
          <div class="value">
            <%= (vip_report.str21||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">网信资质</div>
          <div class="value">
            <%= (vip_report.str22||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">人行资质</div>
          <div class="value">
            <%= (vip_report.str23||'--') %>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <div class="icon"></div>
        <div class="title">大数据记录 - 被动属性</div>
      </div>
      <div class="content-row">
        <div class="body-row">
          <div class="title">被查询状况</div>
          <div class="value">
            <%= (vip_report.str24||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">多方机构数量</div>
          <div class="value">
            <%= (vip_report.str25||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">类金融平台</div>
          <div class="value">
            <%= (vip_report.str26||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">网贷类平台</div>
          <div class="value">
            <%= (vip_report.str27||'--') %>
          </div>
        </div>
        <div class="body-row">
          <div class="title">小贷类机构</div>
          <div class="value">
            <%= (vip_report.str28||'--') %>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <div class="icon"></div>
        <div class="title">官方报告</div>
      </div>
      <div class="content-text">

        <% for(var i=0; i<vip_report.str29s.length; i++) {%>
          <div class="body-text">
            <%= (vip_report.str29s[i]||'--') %>
          </div>
          <% } %>
            <!-- <div class="body-text">总体您的征信情况：良好/一般/有风险</div>
        <div class="body-text"> 1. 从负债率及多方机构来看.您对资金的渴求较为旺盛/需要，这使得过往的借贷行为导致未来下款 率极彳以较高/较低/一般并且利率综合处于较高/一般/较低的水平（仅仅从与机构借款的效果来看）。
        </div>
        <div class="body-text"> 2. 您的社交圈子具备一定风险/优势，这会降低/提高您的借款成功率及信用评价青况下.直接 与银行/类金融机构/网贷类机构接触形成信用收益远远高于其它机构 </div>
        <div class="body-text">3. 从综合大数据分析，您尚未/已经对个人信用形成直接的认知，粗乱/谨憤#待约使得您•用处于下 滑/上升/低谷期间
        </div>
        <div class="body-text">4. 综上来判断.大部分/少部分机构会对您产生极高/—般/gH氏的信任并有或成合作</div>
        <div class="body-text">5. 对于您的人行征信资质我们建议： 至少间隔两个月的频率查询自己的征信报告.如可以尽量不查询；其它#色耋询每录乾多.会 在短期内（两到三个月）形成影响.导致诸多银行机构与类金融平台深度调置银行流 水等资质而导致更高的拒绝率并形成恶性循环。此类信息将在两年后自动消除：此外，良好的财务状
          况会让银行等机构无视此类记录带来的负面影响。常态性可追溯形成逻辑推理的账户进出流水是最好 的证明 控制并降低负债金额.过往的负债记录反而会成为银行给予良好资质判断的依据.所以过往的负债记录并不是负面影响，主要看现在的财务状况与有无黑名单命中；</div>
        <div class="body-text"> 6. 对于您的网络大数据资质我们建议：禁止乱申请或者自己通过黑中介类频繁大畺申请各类贷款软件：每申请一次的行为都会影响下 —次或其它软件的下款率，大数据密坊记录您的所有行为及网络贷款历史，而且各类贷款软件成本参 差不齐，直接影响到后期您还款的成本高低，合理选择对自己负面影响最小的，我们推荐的依据是：
          成本低>资质影响>行为负面，依据我们评判，可在下款的基础上.维护您的良好信用及循环下款资 质，无形的信用就是有形的规模低成本借贷资质。 网络征信的维护建议：目前黑名单中用户行业内尚无恢复及解决方法：逾期用户可在结清欠款 后—年至—年半时间内保持无借款记录并尽力财务良好即可逐步恢复。
        </div>
        <div class="body-text">7. 综合您的各类资质，我们達议您按照我们的推荐顺序进行申谞，您的大概下款额度及信用情况可在 推荐结果界面看到。特别声明：请在我们的推荐结果内申请，严谨自己私自乱申请其它软件.下款后保持还款良好及资金 使用规划，如有资金需求，间隔两个月后再申</div> -->
      </div>
    </div>

  </div>
</body>

</html>